<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EmailSenderConfiguration" type="WebMTHR.EmailSender.EmailSenderConfigurationSection, WebMTHR" requirePermission="false" />
    <section name="WebMTHRConfiguration" type="WebMTHR.Settings.WebMTHRConfigurationSection, WebMTHR" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="csv" xsi:type="File" fileName="${basedir}/file.csv" keepFileOpen="false" archiveFileName="${basedir}\logs\\nLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="50">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="message" layout="${message}" />
          <column name="logger" layout="${logger}" />
          <column name="level" layout="${level}" />
          <column name="description" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="csv" />
    </rules>
  </nlog>
  <WebMTHRConfiguration>
    <!--todo
    <InternalMsExchangeAutorizeServize Host="" Port="25" IsSSL="true"></InternalMsExchangeAutorizeServize>-->
    <CommonSettings EnableTestUser="true" TestUserLogin="ekbsl@gmail.com" TestUserPassword="1qazXSW@" DestinationUrl="https://192.168.0.133:44300/"></CommonSettings>
    <OAuthServices>
      <LoginService Name="VKontakte" AppKey="4822926" SecretKey="6hIWsG1PKkKv3DDAW6CR"></LoginService>
      <LoginService Name="yandex" AppKey="5466b8798b3c46e3a5b90590b3adc804" SecretKey="fc08f8eacf1d4650b5ef819ff1120e5d"></LoginService>
      <LoginService Name="gmail" AppKey="198355310473-c976tclmvsgpto6jrhas3rgjv8t9nsib.apps.googleusercontent.com" SecretKey="2XfvYtc-5N4IU5bK_d09SEij"></LoginService>
      <LoginService Name="mailru" AppKey="731715" SecretKey="d9d3744b2e3e2af82a3566230e012f9e"></LoginService>
    </OAuthServices>
  </WebMTHRConfiguration>
  <EmailSenderConfiguration>
    <!-- Расположение шаблонов сообщений в каталоге Content-->
    <Senders>
      <SenderInstance Name="Task" Host="smtp.live.com" Port="25" IsEnableSsl="True" IsUseDefaultCredentials="False" UserName="ekb_sl@hotmail.com" Password="UnbY@098" NameTemplate="C:\Users\Руслан\Desktop\MTAHR\WebMTHR\Content\TaskNotificationTemplate.htm"></SenderInstance>
    </Senders>
  </EmailSenderConfiguration>
  <connectionStrings>
    <add name="MTHRData" connectionString="Data Source=QUERO\SQLEXPRESS;Database=MTHRData;Initial Catalog=MTHRData;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!-- Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc) --><httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" />
  <!-- Set to 'On' to always show custom errors --><customErrors mode="RemoteOnly" /></system.web>
  <system.webServer>
      <handlers>
        <remove name="BlockViewHandler"/>
        <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      </handlers>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <!-- Catch IIS (e.g. RequestFiltering) 401, 403, 404 and 500 errors and redirect to ErrorController -->
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
			<clear />
			<error statusCode="401" responseMode="ExecuteURL" path="/Unauthorized" />
			<error statusCode="403" responseMode="ExecuteURL" path="/NotFound" />
			<error statusCode="404" responseMode="ExecuteURL" path="/NotFound" />
			<error statusCode="500" responseMode="ExecuteURL" path="/InternalServerError" />
		</httpErrors></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>